/* HOME PAGE */ 

.home .site-inner,
.home .site-inner .content {
    max-width:100%;
    width:100%;
    padding:0;
}

.scroll-hint{
    position:absolute;
    bottom:0;
    left:calc(50% - 1px);
    height:70px;
    color:#003471;
    border-left:1px solid rgba(238,236,234,.2);
    white-space:nowrap;
    text-transform:uppercase;
    line-height:70px;
    color:#003471;
    z-index:5;
    transform:translateY(50%);
    transition:all .4s
}
@media (max-width:767px){
    .scroll-hint{
        display:none
    }
}
.scroll-hint.hidden{
    opacity:0;
    transform:translateY(0);
    pointer-events:none
}
.scroll-hint:before{
    content:"";
    position:absolute;
    left:-1px;
    top:0;
    display:block;
    width:1px;
    height:100%;
    background-color:#EBC307;
    transform:scale(1,0) translate3d(0,0,0);
    animation:scroller 3s infinite
}
.scroll-hint__label{
    font-size:12px;
    padding-left:20px
}
.scroll-hint{
    transform:translateY(0)
}
.homeSection{
    padding:90px 0;
    position:relative
}

@media (max-width:767px){
    .homeSection{
        padding:80px 0;
    }
}

.homeSection.homeSection--first {
    padding-top: 50px;
}

.homeSection__ImgWrapper {
    position:relative;
    width:116%;
    height:116%;
    left:-8%;
    top:-8%
}
@media (max-width:992px){
    .homeSection__ImgWrapper {
        width:120%;
        height:120%;
        left:-10%;
        top:-10%
    }
}

.homeSection .homeSection__img {
    transform: scale(1.1);
    transition: all 1.5s ease .6s;
    background-position: center;
}

.homeSection .homeSection__img.is-inview {
    transform:scale(1)
}

.homeSection__icContent {
    max-width: 625px;
    width: 100%;
}

.homeSection__isContentTitle {
    color:#003471;
    font-family:'Oswald',sans-serif;
    text-transform:uppercase;
    font-weight:700;
    font-size:60px;
    margin-bottom:12px;
    opacity:0;
    transform:translateY(15px);
    transition:all .4s ease-in-out .6s;
    width:100%;
    margin-bottom:15px;
    max-width:14ch;
}

@media (max-width:992px){
    .homeSection__isContentTitle{
        font-size:40px;
        margin-bottom:35px
    }
}

@media (max-width:767px){
    .homeSection__isContentTitle{
        margin-left:0;
        font-size:25px;
        line-height:30px
    }
}

.is-inview .homeSection__isContentTitle{
    opacity:1;
    transform:translateY(0)
}

.homeSection__isContentText{
    font-size: 18px;
    line-height: 27px;
    opacity:0;
    transform:translateY(15px);
    transition:all .4s ease-in-out .8s;
    max-width:450px;
    margin-bottom:20px;
    font-family:'Roboto', sans-serif;
}

.is-inview .homeSection__isContentText{
    opacity:1;
    transform:translateY(0)
}

.homeSection__isContentBtn{
    opacity:0;
    transform:translateY(15px);
    transition:all .4s ease-in-out .8s;
}

.is-inview .homeSection__isContentBtn{
    opacity:1;
    transform:translateY(0)
}

.homeSection__isContentSubTitle {
    font-size: 28px;
    color: #0077FF;
    letter-spacing: 8px;
    text-transform: uppercase;
    margin-bottom: 10px;
    line-height: 100%;
    opacity: 0;
    transform: translateY(15px);
    transition: all .4s ease-in-out .6s;
    display: grid;
    grid-template-columns: 1fr auto;
    text-align:right;
}

.homeSection__isContentSubTitle::before {
    content: "";
    display: block;
    width: 90%;
    height: 100%;
    background:linear-gradient(to bottom, #fff 0%, #fff 48%,#EBC307 48%, #EBC307 53%, #fff 52%, #FFF 100%);
}

.is-inview .homeSection__isContentSubTitle {
    opacity:1;
    transform:translateY(0)
}

.homeSection__ic {
    position:relative;
    overflow:hidden
}

.is-inview .image {
    transform:scale(1)
}

.homeSection__icImg {
    width:40%;
    height:65vh;
    min-height:400px;
    position:relative;
    overflow:hidden;
    opacity:.9
}
@media (max-width:992px){
    .homeSection__icImg{
        height:45vh;
        width:50%
    }
}
@media (max-width:767px){
    .homeSection__icImg{
        width:calc(100% - 30px);
        margin:0 15px;
        min-height:300px
    }
}


.is-inview .imagePlaceholder {
    width:0
}




.reveal-image {
position:relative
}

.is-inview .reveal-image:after {
width:0
}

.reveal-image:after {
content:"";
position:absolute;
top:0;
right:0;
width:100%;
height:100%;
background-color:#fab162;
transition:width 1s ease
}

.reveal-image img {
vertical-align:top;
max-width:100%
}

.reveal_title {
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background-color:#eeecea;
transform:scaleX(0);
transform-origin:100% 50% 0
}






/*********** ANIMATIONS ****************/


@keyframes revealtitle{
    0%{
        transform:scaleX(0);
        transform-origin:0 50% 0
    }
    25%{
        transform:scaleX(1);
        transform-origin:0 50% 0
    }
    50%{
        transform:scaleX(1);
        transform-origin:100% 50% 0
    }
    100%{
        transform:scaleX(0);
        transform-origin:100% 50% 0
    }
}
@keyframes pulse{
    0%{
        opacity:.1
    }
    50%{
        opacity:.3
    }
    100%{
        opacity:.1
    }
}
@keyframes scroller{
    0%{
        transform-origin:top left;
        transform:scale(1,0);
        animation-timing-function:cubic-bezier(.48,.02,0,.99)
    }
    30%{
        transform-origin:top left;
        transform:scale(1,1)
    }
    41%{
        transform-origin:bottom left;
        transform:scale(1,1);
        animation-timing-function:cubic-bezier(.48,.02,0,.99)
    }
    100%{
        transform-origin:bottom left;
        transform:scale(1,0)
    }
}

.metrics {
    text-align: center;
}

.metrics .borders {
    border-left: 3px solid #EBC307;
    border-right: 3px solid #EBC307;
}

.bodyLrgCopy {
    font-family:'Oswald', sans-serif;
    color:#003471;
    font-size:60px;
    line-height:100%;
    margin-bottom:10px;
    text-transform: uppercase;
}

.bodyXLrgCopy {
    font-family:'Oswald', sans-serif;
    color:#003471;
    font-size:90px;
    line-height:100%;
    margin-bottom:10px;
    text-transform: uppercase;
}

.bodySubCopy {
    font-family:'Roboto', sans-serif;
    color:#0077FF;
    text-transform: uppercase;
    letter-spacing:8px;
    font-size:20px;
    line-height:100%;
    margin:0;
}