/* HOME PAGE */ 

.home .site-inner,
.home .site-inner .content {
    max-width:100%;
    width:100%;
    padding:0;
}

.scroll-hint{
    position:absolute;
    bottom:0;
    left:calc(50% - 1px);
    height:70px;
    white-space:nowrap;
    text-decoration:none;
    text-transform:uppercase;
    line-height:70px;
    color:#0077FF;
    letter-spacing:3px;
    z-index:5;
    transform:translateY(50%);
    transition:all .4s
}
@media (max-width:767px){
    .scroll-hint{
        display:none
    }
}
.scroll-hint.hidden{
    opacity:0;
    transform:translateY(0);
    pointer-events:none
}
.scroll-hint:before{
    content:"";
    position:absolute;
    left:-1px;
    top:0;
    display:block;
    width:2px;
    height:100%;
    background-color:#EBC307;
    transform:scale(1,0) translate3d(0,0,0);
    animation:scroller 3s infinite
}
.scroll-hint__label{
    font-size:12px;
    padding-left:20px
}
.scroll-hint{
    transform:translateY(0)
}
.homeSection{
    padding:145px 0;
    position:relative
}

@media (max-width:767px){
    .homeSection{
        padding:80px 0;
    }
}

.homeSection.homeSection--first {
    padding-top: 30px;
    padding-bottom:85px;
}

.homeSection__icContent {
    max-width: 625px;
    width: 100%;
}

.homeSection__isContentTitle {
    color:#003471;
    font-family:'Oswald',sans-serif;
    text-transform:uppercase;
    font-weight:700;
    font-size:60px;
    margin-bottom:12px;
    opacity:0;
    transform:translateY(15px);
    transition:all .4s ease-in-out .6s;
    width:100%;
    margin-bottom:15px;
    max-width:14ch;
}

@media (max-width:992px){
    .homeSection__isContentTitle{
        font-size:40px;
        margin-bottom:35px
    }
}

@media (max-width:767px){
    .homeSection__isContentTitle{
        margin-left:0;
        font-size:25px;
        line-height:30px
    }
}

.is-inview .homeSection__isContentTitle{
    opacity:1;
    transform:translateY(0)
}

.homeSection__isContentText{
    font-size: 18px;
    line-height: 27px;
    opacity:0;
    transform:translateY(15px);
    transition:all .4s ease-in-out .8s;
    max-width:450px;
    margin-bottom:20px;
    font-family:'Roboto', sans-serif;
}

.is-inview .homeSection__isContentText{
    opacity:1;
    transform:translateY(0)
}

.homeSection__isContentBtn{
    opacity:0;
    transform:translateY(15px);
    transition:all .4s ease-in-out .8s;
}

.is-inview .homeSection__isContentBtn{
    opacity:1;
    transform:translateY(0)
}

.homeSection__isContentSubTitle {
    font-size: 28px;
    color: #0077FF;
    letter-spacing: 8px;
    text-transform: uppercase;
    margin-bottom: 10px;
    line-height: 100%;
    opacity: 0;
    transform: translateY(15px);
    transition: all .4s ease-in-out .6s;
    display: grid;
    grid-template-columns: 1fr auto;
    text-align:right;
}

.homeSection__isContentSubTitle::before {
    content: "";
    display: block;
    width: 90%;
    height: 100%;
    background:linear-gradient(to bottom, #fff 0%, #fff 48%,#EBC307 48%, #EBC307 53%, #fff 52%, #FFF 100%);
}

.is-inview .homeSection__isContentSubTitle {
    opacity:1;
    transform:translateY(0)
}

.homeSection__ic {
    position:relative;
    overflow:hidden
}

.is-inview .image {
    transform:scale(1)
}

.homeSection__icImg {
    width:40%;
    height:65vh;
    min-height:400px;
    position:relative;
    overflow:hidden;
    opacity:.9
}
@media (max-width:992px){
    .homeSection__icImg{
        height:45vh;
        width:50%
    }
}
@media (max-width:767px){
    .homeSection__icImg{
        width:calc(100% - 30px);
        margin:0 15px;
        min-height:300px
    }
}


/***** SLIDER ******/

.splide .homeSection__isContentSubTitle{
    transform:translate(-20px);
    transition:all .4s ease-in .3s;
    opacity:0;
}
.splide .homeSection__isContentTitle {
    position:relative;
    transform:translate(-20px);
    transition:all .4s ease-in .5s;
    opacity:0;
}
@media (max-width:1200px){
    .splide .homeSection__isContentTitle{
    }
}
@media (max-width:992px){
    .splide .homeSection__isContentTitle{
    }
}
@media (max-width:767px){
    .splide .homeSection__isContentTitle{
    }
}
.splide .homeSection__isContentText{
    position:relative;
    opacity:0;
    transition:all .4s ease-in 0.7s;
    transform:translate(-20px);
}
@media (max-width:1200px){
    .splide .homeSection__isContentText{
        margin:40px 0;
    }
}
@media (max-width:992px){
    .splide .homeSection__isContentText{
        margin:30px 0;
    }
}
@media (max-width:767px){
    .splide .homeSection__isContentText{
        width:100%;
    }
}
.splide .homeSection__isContentBtn {
    position:relative;
    opacity:0;
    transform:translate(-20px);
    transition:all .4s ease-in 0.9s;
}

.splide .homeSection__isContentBtn .btn-whlrAlt {
    margin-left:15px;
}

.splide .is-active .homeSection__isContentTitle,
.splide .is-active .homeSection__isContentSubTitle,
.splide .is-active .homeSection__isContentText,
.splide .is-active .homeSection__isContentBtn {
    opacity: 1;
    transform: translate(0);
  }

.splide .splide__slide--imgContainer {
    position:relative;
}

.homeSection .is-inview .homeSection__img{
}

.homeSection__imgWrapper {
    position:relative;
}

.homeSection__imgWrapper--lrg {
    height:80vh;
}

.homeSection__imgWrapper--xlrg {
    height:85vh;
}

.homeSection__imgWrapper .jarallax {
    height:100%;
}

.homeSection .homeSection__imgContainer {
    overflow: hidden;
}

.splide .imgPlaceholder,
.homeSection__imgWrapper .imgPlaceholder {
    position:absolute;
    top:0;
    right:0;
    width:100%;
    height:100%;
    background-color:#003471;
    transition:width .3s ease;
    transform: translateY(15px);
}

.homeSection .homeSection__img {
    background-position: center;
}


.splide .is-active .imgPlaceholder,
.homeSection__imgWrapper.is-inview .imgPlaceholder {
    width: 0;
    transform: translateY(0);
}

/*********** ANIMATIONS ****************/


@keyframes revealtitle{
    0%{
        transform:scaleX(0);
        transform-origin:0 50% 0
    }
    25%{
        transform:scaleX(1);
        transform-origin:0 50% 0
    }
    50%{
        transform:scaleX(1);
        transform-origin:100% 50% 0
    }
    100%{
        transform:scaleX(0);
        transform-origin:100% 50% 0
    }
}
@keyframes pulse{
    0%{
        opacity:.1
    }
    50%{
        opacity:.3
    }
    100%{
        opacity:.1
    }
}
@keyframes scroller{
    0%{
        transform-origin:top left;
        transform:scale(1,0);
        animation-timing-function:cubic-bezier(.48,.02,0,.99)
    }
    30%{
        transform-origin:top left;
        transform:scale(1,1)
    }
    41%{
        transform-origin:bottom left;
        transform:scale(1,1);
        animation-timing-function:cubic-bezier(.48,.02,0,.99)
    }
    100%{
        transform-origin:bottom left;
        transform:scale(1,0)
    }
}

/***** ACCORDION EXPLORE *******/

.homeSection .accordion-button {
    font-size: 50px;
    color: rgb(189, 189, 189);
    text-transform: uppercase;
}

.homeSection .accordion-button:hover,
.homeSection .accordion-button:not(.collapsed) {
    background:none;
    color:#003471;
}

.homeSection .accordion-item {
    border-bottom:1px solid #EBC307;
}

.homeSection .explore-region-body .btn--whlr {
    width: 100%;
    margin-bottom: 10px;
}

.homeSection .explore-region-body .bi-geo-alt-fill {
    color:#EBC307;
}

/***** METRICS*******/

.metrics {
    text-align: center;
}

.metrics .borders {
    border-left: 3px solid #EBC307;
    border-right: 3px solid #EBC307;
}

.bodyLrgCopy {
    font-family:'Oswald', sans-serif;
    color:#003471;
    font-size:60px;
    line-height:100%;
    margin-bottom:10px;
    text-transform: uppercase;
}

.bodyXLrgCopy {
    font-family:'Oswald', sans-serif;
    color:#003471;
    font-size:90px;
    line-height:100%;
    margin-bottom:10px;
    text-transform: uppercase;
}

.bodySubCopy {
    font-family:'Roboto', sans-serif;
    color:#0077FF;
    text-transform: uppercase;
    letter-spacing:8px;
    font-size:20px;
    line-height:100%;
    margin:0;
}

.metrics .firstStat,
.metrics .secondStat,
.metrics .thirdStat,
.metrics .statBtn {
    opacity: 0;
    transform: translateY(15px);
}

.metrics .firstStat {
    transition: all .4s ease-in-out .2s;
}
.metrics .secondStat {
    transition: all .4s ease-in-out .4s;
}
.metrics .thirdStat {
    transition: all .4s ease-in-out .6s;
}
.metrics .statBtn {
    transition: all .4s ease-in-out .8s;
}

.metrics .is-inview .firstStat,
.metrics .is-inview .secondStat,
.metrics .is-inview .thirdStat,
.metrics .is-inview .statBtn {
    opacity:1;
    transform:translateY(0)
}
